
			#countbox {
				list-style: none;
			}
			
			#count,#go {
				width: 200px;
				height: 30px;
				border: none;
				background: #FF404073;
			}
			span{
				display: inline-block;
				width: 300px;
			}
			input,
			textarea {
				background-color: transparent;
				color: #ff0000db;
				font-weight: bolder;
			}
